<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461168452790-sltne6di1lbppp6lee9u2ctl53itlas6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461168452790-sltne6di1lbppp6lee9u2ctl53itlas6</string>
	<key>API_KEY</key>
	<string>AIzaSyB8qS0J0v4yUw0Sj1Tp7AS3DjY_HOzishU</string>
	<key>GCM_SENDER_ID</key>
	<string>461168452790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sailor-bcn.Messenger-app</string>
	<key>PROJECT_ID</key>
	<string>messenger-app-d7178</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-app-d7178.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461168452790:ios:4e60ecf27648a1f599f217</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-app-d7178.firebaseio.com</string>
</dict>
</plist>